@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
body {
  font-family: 'Poppins', sans-serif;
background-color:#fffafa !important;

  
}


.app {
  display: flex;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 15px;
  min-height: 100vh;
  border-radius: 10px;
  flex-direction: column;
  
  
}





/********** NAVBAR *******/
.logo{
  width: 120px;
}

nav .navbar-nav li a{
  color: #2d232e!important;
  font-weight: 600;
  }
nav a.nav-link{
  letter-spacing: 0.0375rem;
  color:#007AF3 !important;
}


.navbar-nav > li > a{
  color:#F0EAD6 !important;
  
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
  border-bottom: 3px solid#007AF3;
}

.navbar-nav > li > a:hover{
  border-bottom: 3px solid #007AF3;
}

.navbar-toggler-icon{
  color:#007AF3 !important;
}


/********** Home *******/
.home  {
	
  display: flex;
	flex-direction:row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
  padding:150px;
  flex: 1 1 auto;
  position: relative;
  font-family: "Poppins";
  min-height: 5vh;
  
 
}


.hero{
  padding-top: -20px;
  line-height: 0.5;
  
  
}
  .Typer{
   
  font-size: 16PX;
  color: #ac840c;
line-height: 1;
  font-family: 'Raleway','sans-serif';
  
}


  
  


.underline{
  border-bottom: 5px solid #fdc500;
    width:5rem;
    height: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}


 .home button {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  margin-left: auto;
  margin-top: 10px;
  color: #ffffff;
  padding: 10px 10px;
  border-radius: 200px;
  background-color: #3f71f4;
  font-family: "Poppins", 
  "cursive";
  width: 150px;
  margin-bottom: 150px;
 
}



button .home{
  width: 100%;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}


.blob {
  border-radius: 50% 50% 69% 31% ;
  height: 180px;
  width: 180px;
   /* height: 40vw;
  width: 40vw; */
  ; 
  position: auto;
  top: ;
  left: 10px;
  animation: move 13s linear infinite;
  transform-origin: 20% 10%;
  z-index: 0;
}

@keyframes move {
  0%   { transform: scale(1)  translate(0px, 0px); }
  20%  { transform: scale(0.9) translate(45px, 20px) rotate(90deg); }
  40%  { transform: scale(0.8) translate(110px, 70px) rotate(120deg); }
  60%  { transform: scale(0.7) translate(70px, -100px) rotate(20deg); }
  80%  { transform: scale(0.9)translate(10px, 80px) rotate(20deg); }
  100% { transform: scale(1) translate(0px, 0px); } 
} 
.content-mobile{
  display:none;
}

.content-desktop{
  display:block;
}

@media (max-width: 780px) {
  .home { 
    
    flex-direction: column;
  }
 .content-mobile{
   display: block;
   color: #ac840c;
   display: flex;
   flex-direction: row; 
  font-family: 'Raleway','sans-serif';
 }
 .blob{
   position: end;
    width:180px;  
    height: 180px;
 }
 .content-desktop{
   line-height: 1;
 }
 button.contact{
  margin-top: 30PX;
 }
 .main-footer{
   height: 120px;
   padding:20px
 }
 
}
@media (max-width: 560px) {

h1{
  font-size: 32px !important;
}
h6{
  font-size: 14px!important;
  
  
}

}

/******************************CONTACTS *************************/
.contacts {
   padding: 3rem 0;
}
.contact h1 { 
  color: black;
  padding: 1.3rem 0;
  text-transform: uppercase;
}


.contacts input, .contacts textarea{
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 2px solid black;

}

h3.about{
text-align: center;
padding-top: 30px;
font-family: "poppins";
font-size: 50px;

}



.hello{
 text-align: center;
  padding-top: 30px;
 margin: 0 0 20px;
 font-family: 'raleway';
    font-size: 20px;
    white-space: nowrap;
}

/*
=============== 
Footer
===============
*/

.main-footer {
  height: 100px;
  
    margin-top: 0.1rem;
    padding:1px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  
text-align: center;
background-color:#2956B2;

color: "#000";

font-style: oblique;
font-family: "poppins";

display: grid;
  place-items: center
}
.social-icons{
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.binken{
  font-family: "raleway";
  margin-top: 10px;
  font-style: oblique;
 
}